.footer {
  height: 50px;
  background-color: #ffe9a5;
  color: #6d7d90;
   align-items: center;
   font-size: 15px;
   
}
.footer-nav {
height: 100px;
background-color: #ffe9a5;
padding: 10px 0;
display: flex;
justify-content: space-around;
 
}

.footer-content-head {
  display: flex;
  padding: 15px 0;

}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #6d7d90;
}

a.hover {
  text-shadow: 0 0 9px rgba(145, 175, 159, 0.9);

}

