.footer {
  height: 50px;
  background-color: lightskyblue;
  color: gainsboro;
   align-items: center;
   font-size: 15px;
}
.footer-nav {
height: 100px;
background-color: lightskyblue;
padding: 10px 0;
display: flex;
 justify-content: space-around;
}

.footer-content-head {
  display: flex;
  padding: 10px 0;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: lightskyblue;
}

