<div class='footer'>
<div class="footer-nav">
     <div class="footer-content"> <h3 class='footer-content-head'>HACHUHAを見る</h3>
        <ul>
        <li><%= link_to 'ポスト一覧', posts_path, class: "footer-link" %></li>
        <li><%= link_to 'ペット一覧', root_path, class: "footer-link" %></li>
      </ul>
      </div>
<div class="footer-content">
      <h2 class='footer-content-head'>HACHUHAについて</h2>
      <ul>
        <li><%= link_to 'HACHUHAガイド', "#", class: "footer-link" %></li>
      </ul>
      </div>
</div>
  <p class="copyright">© HACHUHA</p>
</div>