// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form{
  display: block;
  align-items: center;
  margin-left: 150px;
  
}

.comment-text{
  display: block;
  align-items: center;
  color: black;  
  margin-bottom: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
  align-items: center;
}

.comment{
  display: inline;
  align-items: center;

}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}