.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  margin-top: 10px;
  width: 110%;
  background: #d7e6d5;
  border: 1px solid #d7e6d5;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: black;
}